.posR {
  position: relative;
}

.posA {
  position: absolute;
  top: 40%;
}

.roundImg {
  border-radius: 50%;
}

.app {
  font-family: 'Fraunces', serif;
  font-size: 18px;
}

.weAreFont {
  font-size: 65px;
  color: white;
  height: 50%;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.text {
  margin: 0 auto;
  position: absolute;
  top: 40%; right: 0; left: 0;
  width: 70%;
  font-size: 1rem;
}

.p1 {
  font-family: Barlow;
}

.a1 {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border-bottom: #EA215A 0.25em solid;
  border-radius: 10px;
  z-index: -1;
}

.a1:hover {
  color: black;
}

.a2 {
  text-decoration: none;
  color:hsl(167, 40%, 24%);
}

.a2:hover {
  color: white;
}

.imageText {
  margin: 0 auto;
  position: absolute;
  top: 60%; right: 0; left: 0;
  width: 60%;
  font-size: 1rem;
}

.testimonials {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.p2 {
  font-family: Barlow;
  width: 70%;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.rank {
  font-size: 1rem;
  font-family: Barlow;
}

.bottom {
  padding-top: 4rem;
  background-color: hsl(168, 34%, 41%);
  color: hsl(167, 40%, 24%);
}